targetRevision: dev-mkoplinger
apps:
  alloy:
    helmValues: []
  argoCd:
    overlay: dev
  argoEvents:
    overlay: dev
  argoWorkflows:
    overlay: dev
  ci:
    overlay: dev
  devopsApp:
    overlay: dev
  gitea:
    helmValues:
      - dev-mkoplinger
  grafana:
    helmValues: []
  loki:
    helmValues: []
  shared:
    overlay: dev
  traefik:
    overlay: dev-mkoplinger
