grafana:
  datasources:
    datasource.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          type: loki
          access: proxy
          url: http://loki.observability.svc.cluster.local:3100
          isDefault: true
          jsonData:
            httpHeaderName1: "X-Scope-OrgId"
          secureJsonData:
            httpHeaderValue1: "foo"