alloy:
  alloy:
    configMap:
      content: |
        logging {
          level = "info"
        }

        discovery.kubernetes "pods" {
          role = "pod"
        }

        loki.source.kubernetes "pods" {
          targets    = discovery.kubernetes.pods.targets
          forward_to = [loki.write.default.receiver]
        }

        loki.write "default" {
          endpoint {
            url = "http://loki.observability.svc.cluster.local:3100/loki/api/v1/push"
            tenant_id = "foo"
          }
        }
