apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`cluster.grafana.local`) && PathPrefix(`/`)
      kind: Rule
      services:
        - name: grafana
          port: 80